<span class="cc__tile" aria-hidden="true">
  @if (imageSrc()) {
    <img class="cc__img" [src]="imageSrc()" alt="" loading="lazy" />
  } @else {
    <mat-icon fontSet="material-symbols-outlined">{{ icon() }}</mat-icon>
  }
</span>

<span class="cc__heading">{{ heading() }}</span>

@if (description()) {
  <span class="cc__desc">{{ description() }}</span>
}

<span class="cc__bottom">
  @if (tags().length) {
    <span class="cc__tags">
      <span class="cc__tags-list">
        @for (tag of tags(); track $index) {
          <span class="cc__tag">{{ tag }}</span>
        }
      </span>
      @if (tags().length > 3) {
        <span class="cc__tag cc__tag--more" aria-hidden="true">…</span>
      }
    </span>
  }
  <span class="cc__arrow" aria-hidden="true">
    <mat-icon fontSet="material-symbols-outlined">arrow_forward</mat-icon>
  </span>
</span>
