<div class="option-card__top">
  <span class="option-card__glyph" aria-hidden="true">{{ glyph() }}</span>
  @if (openLabel()) {
    <button class="option-card__open" type="button" (click)="open.emit()">
      {{ openLabel() }}
      <mat-icon fontSet="material-symbols-outlined" aria-hidden="true">chevron_right</mat-icon>
    </button>
  }
</div>

<span class="option-card__title">{{ title() }}</span>

@if (modified() && detail()) {
  <span class="option-card__detail">{{ detail() }}</span>
} @else if (description()) {
  <span class="option-card__desc">{{ description() }}</span>
}

@if (modified()) {
  <div class="option-card__footer">
    @if (resetLabel()) {
      <button class="option-card__reset" type="button" (click)="reset.emit()">
        <mat-icon fontSet="material-symbols-outlined" aria-hidden="true">undo</mat-icon>
        {{ resetLabel() }}
      </button>
    }
    @if (modifiedLabel()) {
      <span class="option-card__badge">
        <mat-icon fontSet="material-symbols-outlined" aria-hidden="true">check</mat-icon>
        {{ modifiedLabel() }}
      </span>
    }
  </div>
}
