<button
  mat-button
  class="language-switcher"
  type="button"
  [matMenuTriggerFor]="menu"
  [attr.aria-label]="ariaLabel()">
  <mat-icon
    class="language-switcher__flag"
    aria-hidden="true"
    [svgIcon]="currentLocale()"></mat-icon>
  <span class="language-switcher__label">{{ displayLabel() }}</span>
  <mat-icon
    class="language-switcher__chevron"
    fontSet="material-symbols-outlined"
    aria-hidden="true"
    >expand_more</mat-icon
  >
</button>

<mat-menu #menu="matMenu">
  @for (item of locales(); track item.id) {
    <button
      mat-menu-item
      type="button"
      [class.is-active]="item.id === currentLocale()"
      (click)="onSelect(item.id)">
      <mat-icon
        aria-hidden="true"
        [svgIcon]="item.id"></mat-icon>
      <span>{{ item.name | translate }}</span>
    </button>
  }
</mat-menu>
